/* line 2, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/screen.scss */
a,
a:visited {
  color: red;
  text-decoration: none;
}

/* line 14, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 19, ../sass/screen.scss */
dt {
  font-size: 30px;
}

/* line 23, ../sass/screen.scss */
dd {
  margin-bottom: 1em;
}

/* line 28, ../sass/screen.scss */
tbody {
  border: 0;
}

/* line 33, ../sass/screen.scss */
hr {
  height: 0;
  clear: both;
}

/* line 39, ../sass/screen.scss */
h2, .node-news .field-name-field-tagline {
  font-size: 30px;
  font-weight: normal;
}

/* line 45, ../sass/screen.scss */
th {
  text-align: center;
}

/* line 50, ../sass/screen.scss */
table.padding td {
  padding: 5px;
}

/* line 55, ../sass/screen.scss */
html {
  background-color: black;
}

/* line 60, ../sass/screen.scss */
body {
  font-family: "Century Gothic", Arial, sans-serif;
  padding-top: 18px;
  background: black url(../images/theatre.jpg) no-repeat center 16px;
  color: white;
  font-size: 15px;
}

/* line 69, ../sass/screen.scss */
body:before {
  position: absolute;
  width: 100%;
  top: 0;
  content: " ";
  display: block;
  height: 27px;
  background: url(../images/body-border.png) repeat-x top;
  z-index: 2;
}

/* line 81, ../sass/screen.scss */
body:after {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 807px;
  background-color: black;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 94, ../sass/screen.scss */
body.front:after {
  display: none;
}

/* line 99, ../sass/screen.scss */
body > * {
  z-index: 2;
  position: relative;
}

/* line 107, ../sass/screen.scss */
#page,
#footer,
#widgets {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

/* line 114, ../sass/screen.scss */
#logo {
  width: 193px;
  height: 90px;
  display: block;
  margin: 25px auto;
}

/* line 122, ../sass/screen.scss */
#block-system-main {
  padding-bottom: 40px;
  clear: both;
}

/* line 129, ../sass/screen.scss */
#widgets-wrapper {
  background-color: #262626;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #3c3c3c;
  overflow: hidden;
  min-height: 260px;
}

/* line 138, ../sass/screen.scss */
#widgets .block {
  width: 280px;
  width: 29.787%;
  float: left;
  padding: 30px 25px;
  padding: 30px 2.66%;
  position: relative;
}

/* line 148, ../sass/screen.scss */
#widgets #block-views-news-block {
  padding-left: 0;
}

/* line 156, ../sass/screen.scss */
#widgets #block-views-news-block:after,
#widgets #block-block-2:before,
#widgets #block-block-2:after,
#widgets #block-block-1:before {
  position: absolute;
  content: " ";
  display: block;
  top: 87px;
  height: 104px;
}

/* line 166, ../sass/screen.scss */
#widgets #block-views-news-block:after,
#widgets #block-block-2:after {
  right: 0;
  border-left: 1px solid black;
}

/* line 173, ../sass/screen.scss */
#widgets #block-block-2:before,
#widgets #block-block-1:before {
  left: 0;
  border-left: 1px solid #424242;
}

/* line 179, ../sass/screen.scss */
#widgets #block-block-1 {
  padding-right: 0;
}

/* line 184, ../sass/screen.scss */
#widgets .block h2 a, #widgets .block .node-news .field-name-field-tagline a, .node-news #widgets .block .field-name-field-tagline a {
  color: white;
}

/* line 190, ../sass/screen.scss */
#widgets .block h2, #widgets .block .node-news .field-name-field-tagline, .node-news #widgets .block .field-name-field-tagline,
h2.banner-small,
.node-news .banner-small.field-name-field-tagline {
  font-weight: normal;
  padding: 2px 0 6px 0;
  margin: 0 12px 10px 10px;
  text-align: center;
  color: white;
  font-size: 17px;
  background: url(../images/heading-small-center.png);
  position: relative;
  line-height: 31px;
  text-transform: uppercase;
  clear: both;
}

/* line 205, ../sass/screen.scss */
#widgets .block h2:before, #widgets .block .node-news .field-name-field-tagline:before, .node-news #widgets .block .field-name-field-tagline:before,
h2.banner-small:before,
.node-news .banner-small.field-name-field-tagline:before {
  display: block;
  content: " ";
  position: absolute;
  left: -10px;
  top: 0;
  width: 10px;
  height: 39px;
  background: url(../images/heading-small-left.png);
}

/* line 217, ../sass/screen.scss */
#widgets .block h2:after, #widgets .block .node-news .field-name-field-tagline:after, .node-news #widgets .block .field-name-field-tagline:after,
h2.banner-small:after,
.node-news .banner-small.field-name-field-tagline:after {
  display: block;
  content: " ";
  position: absolute;
  right: -12px;
  top: 0;
  width: 12px;
  height: 39px;
  background: url(../images/heading-small-right.png);
}

/* line 229, ../sass/screen.scss */
h2.banner-small, .node-news .banner-small.field-name-field-tagline {
  margin-top: 10px;
}

/* line 234, ../sass/screen.scss */
h2.banner, .node-news .banner.field-name-field-tagline {
  font-weight: normal;
  padding: 2px 0 6px 0;
  margin: 20px 14px 10px 12px;
  text-align: center;
  color: white;
  font-size: 17px;
  background: url(../images/heading-med-center.png);
  position: relative;
  line-height: 46px;
  text-transform: uppercase;
  clear: both;
}

/* line 248, ../sass/screen.scss */
h2.banner:before, .node-news .banner.field-name-field-tagline:before {
  display: block;
  content: " ";
  position: absolute;
  left: -12px;
  top: 0;
  width: 12px;
  height: 53px;
  background: url(../images/heading-med-left.png);
}

/* line 259, ../sass/screen.scss */
h2.banner:after, .node-news .banner.field-name-field-tagline:after {
  display: block;
  content: " ";
  position: absolute;
  right: -14px;
  top: 0;
  width: 14px;
  height: 53px;
  background: url(../images/heading-med-right.png);
}

/* line 271, ../sass/screen.scss */
#block-block-1 a {
  display: block;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 25px;
  background: no-repeat right center;
  color: white;
  padding-right: 35px;
}

/* line 281, ../sass/screen.scss */
#block-block-1 a:hover {
  text-decoration: none;
  color: red;
}

/* line 287, ../sass/screen.scss */
#block-block-1 a.facebook {
  background-image: url(../images/facebook.png);
}

/* line 291, ../sass/screen.scss */
#block-block-1 a.facebook:hover {
  background-image: url(../images/facebook-hover.png);
}

/* line 295, ../sass/screen.scss */
#block-block-1 a.twitter {
  background-image: url(../images/twitter.png);
}

/* line 299, ../sass/screen.scss */
#block-block-1 a.twitter:hover {
  background-image: url(../images/twitter-hover.png);
}

/* line 303, ../sass/screen.scss */
#block-block-1 a.flickr {
  background-image: url(../images/flickr.png);
}

/* line 307, ../sass/screen.scss */
#block-block-1 a.flickr:hover {
  background-image: url(../images/flickr-hover.png);
}

/* line 312, ../sass/screen.scss */
#block-block-2 img {
  display: block;
  width: 118px;
  margin: 50px auto 0 auto;
}

/* line 319, ../sass/screen.scss */
#widgets #block-block-2 h2:before, #widgets #block-block-2 .node-news .field-name-field-tagline:before, .node-news #widgets #block-block-2 .field-name-field-tagline:before {
  background-image: url(../images/heading-small-outie-left.png);
}

/* line 323, ../sass/screen.scss */
#widgets #block-block-2 h2:after, #widgets #block-block-2 .node-news .field-name-field-tagline:after, .node-news #widgets #block-block-2 .field-name-field-tagline:after {
  background-image: url(../images/heading-small-outie-right.png);
}

/* line 328, ../sass/screen.scss */
#footer-wrapper {
  background-color: black;
}

/* line 333, ../sass/screen.scss */
#footer {
  padding: 22px 0 80px 0;
}

/* line 338, ../sass/screen.scss */
.copyright {
  margin-top: 25px;
}

/* line 344, ../sass/screen.scss */
.copyright,
.site-by-cci {
  font-size: 10px;
  text-align: center;
  line-height: 200%;
  color: #bbb;
}

/* line 352, ../sass/screen.scss */
.site-by-cci a {
  color: #bbb;
}

/* line 357, ../sass/screen.scss */
#navigation {
  height: 30px;
}

/* line 362, ../sass/screen.scss */
#block-system-main-menu {
  float: left;
}

/* line 367, ../sass/screen.scss */
#block-system-main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 374, ../sass/screen.scss */
#block-system-main-menu ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 383, ../sass/screen.scss */
#block-system-main-menu ul li a {
  text-transform: uppercase;
  padding: 0 16px;
  color: white;
  font-size: 15px;
  text-shadow: 2px 2px 4px black;
  line-height: 30px;
  display: block;
}

/* line 393, ../sass/screen.scss */
#block-system-main-menu ul li a:hover {
  text-decoration: none;
  color: red;
}

/* line 398, ../sass/screen.scss */
#block-system-main-menu ul li.first a {
  padding-left: 0;
}

/* line 402, ../sass/screen.scss */
#block-system-main-menu ul li.last a {
  padding-right: 0;
}

/* line 407, ../sass/screen.scss */
#block-system-main-menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 272px;
  background: #1b1b1b url(../images/submenu-bg.png) repeat-x 0 -4px;
  border-radius: 4px;
}

/* line 418, ../sass/screen.scss */
#block-system-main-menu ul li:hover ul {
  display: block;
}

/* line 422, ../sass/screen.scss */
#block-system-main-menu ul ul li {
  clear: left;
  width: 100%;
  display: block;
}

/* line 428, ../sass/screen.scss */
#block-system-main-menu ul ul li a {
  font-size: 12px;
  padding-left: 16px !important;
  line-height: 27px;
  display: block;
  border-top: 1px solid #494949;
  border-bottom: 1px solid black;
  border-left: 1px solid #414040;
  border-right: 1px solid #414040;
}

/* line 439, ../sass/screen.scss */
#block-system-main-menu ul ul li a:hover {
  background: url(../images/submenu-hover.png) repeat-x;
  color: white;
  border-top: 0;
  padding-top: 1px;
  border-left: 1px solid #91191e;
  border-right: 1px solid #91191e;
}

/* line 449, ../sass/screen.scss */
#block-system-main-menu ul ul li.first,
#block-system-main-menu ul ul li.first a {
  border-radius: 4px 4px 0 0;
  border-top: 0;
  padding-top: 1px;
}

/* line 456, ../sass/screen.scss */
#block-system-main-menu ul ul li.last,
#block-system-main-menu ul ul li.last a {
  border-radius: 0 0 4px 4px;
  border-bottom: 0;
}

/* line 462, ../sass/screen.scss */
#block-system-main-menu ul li.expanded:hover:before {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -3px;
  display: block;
  content: " ";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #343434;
}

/* line 475, ../sass/screen.scss */
#block-system-main-menu h2, #block-system-main-menu .node-news .field-name-field-tagline, .node-news #block-system-main-menu .field-name-field-tagline {
  display: none;
}

/* line 480, ../sass/screen.scss */
.menu-name-menu-social-menu {
  float: right;
  width: 120px;
}

/* line 486, ../sass/screen.scss */
.menu-name-menu-social-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 493, ../sass/screen.scss */
.menu-name-menu-social-menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 15px;
}

/* line 501, ../sass/screen.scss */
.menu-name-menu-social-menu ul li.first {
  margin-left: 0;
}

/* line 506, ../sass/screen.scss */
.menu-name-menu-social-menu ul li a {
  width: 30px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  font-size: 0;
  color: transparent;
  line-height: 0;
}

/* line 517, ../sass/screen.scss */
.menu-name-menu-social-menu ul li.menu-mlid-234 a {
  background-image: url(../images/facebook.png);
}

/* line 521, ../sass/screen.scss */
.menu-name-menu-social-menu ul li.menu-mlid-234 a:hover {
  background-image: url(../images/facebook-hover.png);
}

/* line 525, ../sass/screen.scss */
.menu-name-menu-social-menu ul li.menu-mlid-233 a {
  background-image: url(../images/twitter.png);
}

/* line 529, ../sass/screen.scss */
.menu-name-menu-social-menu ul li.menu-mlid-233 a:hover {
  background-image: url(../images/twitter-hover.png);
}

/* line 533, ../sass/screen.scss */
.menu-name-menu-social-menu ul li.menu-mlid-235 a {
  background-image: url(../images/flickr.png);
}

/* line 537, ../sass/screen.scss */
.menu-name-menu-social-menu ul li.menu-mlid-235 a:hover {
  background-image: url(../images/flickr-hover.png);
}

/* line 542, ../sass/screen.scss */
#block-menu-menu-footer-menu h2, #block-menu-menu-footer-menu .node-news .field-name-field-tagline, .node-news #block-menu-menu-footer-menu .field-name-field-tagline {
  display: none;
}

/* line 547, ../sass/screen.scss */
#block-menu-menu-footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* line 555, ../sass/screen.scss */
#block-menu-menu-footer-menu ul li {
  list-style: none;
  margin: 0;
  padding: 0 13px 0 15px;
  display: inline;
  border-left: 1px solid #999;
  line-height: 100%;
  font-size: 12px;
}

/* line 565, ../sass/screen.scss */
#block-menu-menu-footer-menu ul li.first {
  border-left: 0;
}

/* line 570, ../sass/screen.scss */
#block-menu-menu-footer-menu ul li a {
  color: white;
}

/* line 577, ../sass/screen.scss */
#main-wrapper {
  clear: both;
  position: relative;
}

/* line 583, ../sass/screen.scss */
.page-title-container {
  padding: 0 17px 0 14px;
  margin: 8px 0;
}

/* line 588, ../sass/screen.scss */
.page-title-container > div {
  display: table;
  width: 100%;
  position: relative;
}

/* line 595, ../sass/screen.scss */
h1#page-title {
  display: table-cell;
  vertical-align: middle;
  padding: 1px 0 6px 0;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  height: 54px;
  line-height: 100%;
  background: url(../images/heading-center.png) repeat-x;
  text-transform: uppercase;
  position: relative;
}

/* line 610, ../sass/screen.scss */
h1#page-title:before {
  content: " ";
  position: absolute;
  left: -14px;
  top: 0;
  display: block;
  width: 14px;
  height: 61px;
  background: url(../images/heading-left.png) no-repeat;
}

/* line 621, ../sass/screen.scss */
h1#page-title:after {
  content: " ";
  position: absolute;
  right: -17px;
  top: 0;
  display: block;
  width: 17px;
  height: 61px;
  background: url(../images/heading-right.png) no-repeat;
}

/* line 633, ../sass/screen.scss */
.calendar-icon {
  float: left;
  width: 36px;
  height: 36px;
  padding: 2px 6px 6px 2px;
  background: url(../images/date-bg.png) no-repeat;
  color: white;
  text-align: center;
  line-height: 100%;
  margin-right: 14px;
}

/* line 646, ../sass/screen.scss */
.calendar-icon .month {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
}

/* line 652, ../sass/screen.scss */
.calendar-icon .day {
  font-size: 24px;
  display: block;
}

/* line 658, ../sass/screen.scss */
.view-season-playbill h2, .view-season-playbill .node-news .field-name-field-tagline, .node-news .view-season-playbill .field-name-field-tagline {
  clear: left;
}

/* line 663, ../sass/screen.scss */
.view-season-playbill .views-field-field-image {
  float: left;
  margin: 0 10px 10px 0;
}

/* line 669, ../sass/screen.scss */
.view-season-playbill .views-field-body {
  padding-left: 310px;
}

/* line 674, ../sass/screen.scss */
.view-season-playbill .views-field-field-event-date {
  font-size: 12px;
  margin-bottom: 30px;
}

/* line 680, ../sass/screen.scss */
.view-id-news .views-field-field-tagline {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  margin-top: 6px;
}

/* line 689, ../sass/screen.scss */
.view-id-news .views-row {
  margin-bottom: 7px;
}

/* line 694, ../sass/screen.scss */
.left {
  float: left;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 701, ../sass/screen.scss */
.right {
  float: right;
  text-align: right;
  margin-left: 10px;
}

/* line 707, ../sass/screen.scss */
.left.half {
  width: 48%;
  margin-right: 2%;
}

/* line 712, ../sass/screen.scss */
.right.half {
  width: 48%;
  margin-left: 2%;
}

/* line 717, ../sass/screen.scss */
.w400 {
  width: 400px;
}

/* line 721, ../sass/screen.scss */
.right a.red-button, .right a.black-button, .right a.menu-button {
  float: right;
}

/* line 725, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 729, ../sass/screen.scss */
.clear.left {
  clear: left;
}

/* line 733, ../sass/screen.scss */
.center {
  margin: 0 auto;
  display: block;
}

/* line 739, ../sass/screen.scss */
a.red-button, a.black-button, a.menu-button {
  display: block;
  width: 139px;
  height: 39px;
  line-height: 39px;
  padding: 2px 6px 6px 2px;
  background: url(../images/red-button.png) no-repeat top left;
  color: white;
  text-decoration: none;
  text-align: center !important;
  text-transform: uppercase;
  text-shadow: none;
  overflow: hidden;
}

/* line 755, ../sass/screen.scss */
a.black-button {
  background-image: url(../images/black-button.png);
  padding: 4px 6px 6px 4px;
  width: 129px;
}

/* line 764, ../sass/screen.scss */
a.menu-button {
  background-image: url(../images/menu-button.png);
  width: 119px;
  height: 29px;
  line-height: 29px;
  padding: 3px 5px 5px 3px;
}

/* line 775, ../sass/screen.scss */
.ts-logo {
  display: block;
  width: 99px;
  margin: 0 auto;
}

/* line 782, ../sass/screen.scss */
body .open-nav {
  display: none;
}

/* line 787, ../sass/screen.scss */
#block-system-main p {
  margin-bottom: 0.5em;
}

/* line 793, ../sass/screen.scss */
#block-system-main ul,
#block-system-main ol {
  margin-left: 20px;
  margin-bottom: 0.5em;
}

/* line 800, ../sass/screen.scss */
#block-system-main img,
#block-system-main iframe {
  max-width: 100%;
}

/* line 809, ../sass/screen.scss */
.node-news .field-name-field-date {
  font-size: smaller;
  margin-bottom: 1em;
}

/* line 815, ../sass/screen.scss */
.view-events.view-display-id-page .views-field-title {
  font-size: 26px;
}

/* line 820, ../sass/screen.scss */
.view-events.view-display-id-page .views-row {
  margin-bottom: 15px;
}

/* line 825, ../sass/screen.scss */
.node-type-event .field-name-field-event-date {
  margin-bottom: 0.5em;
}

/* line 830, ../sass/screen.scss */
#node-11 h2, #node-11 .node-news .field-name-field-tagline, .node-news #node-11 .field-name-field-tagline {
  clear: both;
}

/* line 835, ../sass/screen.scss */
#node-12 .left {
  width: 100%;
}

/* line 842, ../sass/screen.scss */
.view-nodequeue-1,
.view-carousel {
  position: relative;
  padding-top: 454px;
  padding-bottom: 21px;
  max-width: 100%;
  overflow: hidden;
}

/* line 852, ../sass/screen.scss */
.view-nodequeue-1 .views-field-body,
.view-carousel .views-field-body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 94%;
  overflow: hidden;
  margin-bottom: 4px;
  padding: 60px 40px;
  padding: 4% 3% 0 3%;
  font-size: 18px;
  text-shadow: 1px 1px 4px black;
  display: none;
}

/* line 869, ../sass/screen.scss */
.view-nodequeue-1 .views-field-field-carousel-background img,
.view-carousel .views-field-field-carousel-background img {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 8px black;
  display: none;
  width: 100%;
  height: auto;
}

/* line 881, ../sass/screen.scss */
.view-nodequeue-1 .views-field-field-carousel-thumb,
.view-carousel .views-field-field-carousel-thumb {
  float: left;
  cursor: pointer;
  position: relative;
  display: block;
  width: 24%;
  margin-right: 1.33333%;
}

/* line 892, ../sass/screen.scss */
.view-nodequeue-1 .active .views-field-field-carousel-thumb:before,
.view-carousel .active .views-field-field-carousel-thumb:before {
  border: 3px solid #a7070d;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 905, ../sass/screen.scss */
.view-carousel .views-field-field-carousel-thumb img,
.view-nodequeue-1 .views-field-field-carousel-thumb img {
  width: 100%;
  height: auto;
}

/* line 911, ../sass/screen.scss */
.view-nodequeue-1 .views-row-4 .views-field-field-carousel-thumb,
.view-carousel .views-row-4 .views-field-field-carousel-thumb {
  margin-right: 0;
}

/* line 916, ../sass/screen.scss */
#node-11 p {
  padding-left: 310px;
}
/* line 920, ../sass/screen.scss */
#node-11 p img {
  margin-left: -310px;
}

/* line 926, ../sass/screen.scss */
#node-25 ul li {
  margin-bottom: 0.5em;
}

@media screen and (max-width: 940px) {
  /* line 940, ../sass/screen.scss */
  #page-wrapper {
    padding: 0 8px;
  }

  /* line 945, ../sass/screen.scss */
  #block-system-main-menu ul li a {
    padding: 0 10px;
  }

  /* line 950, ../sass/screen.scss */
  .ts-logo {
    display: none;
  }
}
@media screen and (max-width: 816px) {
  /* line 959, ../sass/screen.scss */
  .front #block-system-main .w400 {
    float: none;
    margin: 0 auto;
    text-align: left;
    width: 600px;
  }

  /* line 966, ../sass/screen.scss */
  .right a.red-button, .right a.black-button, .right a.menu-button {
    float: left;
  }

  /* line 971, ../sass/screen.scss */
  .view-nodequeue-1 .views-field-body {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 720px) {
  /* line 981, ../sass/screen.scss */
  #block-system-main-menu {
    display: none;
  }

  /* line 986, ../sass/screen.scss */
  #block-menu-menu-footer-menu {
    display: none;
  }

  /* line 991, ../sass/screen.scss */
  #widgets-wrapper {
    padding: 0 8px;
  }

  /* line 996, ../sass/screen.scss */
  #widgets .block {
    width: 100%;
    padding: 0;
    float: left;
    clear: left;
    margin: 20px 0;
  }

  /* line 1007, ../sass/screen.scss */
  #widgets #block-views-news-block:after,
  #widgets #block-block-2:before,
  #widgets #block-block-2:after,
  #widgets #block-block-1:before {
    display: none;
  }

  /* line 1013, ../sass/screen.scss */
  .front #block-system-main .left,
  .front #block-system-main .right {
    float: none;
    text-align: left;
  }

  /* line 1018, ../sass/screen.scss */
  .front #block-system-main .right a.red-button, .front #block-system-main .right a.black-button, .front #block-system-main .right a.menu-button {
    float: none;
  }

  /* line 1022, ../sass/screen.scss */
  .front #block-system-main .half {
    width: auto;
    margin: 0;
  }

  /* line 1027, ../sass/screen.scss */
  .front #block-system-main .w400 {
    width: auto;
  }

  /* line 1032, ../sass/screen.scss */
  body .open-nav {
    display: block;
    float: left;
  }

  /* line 1039, ../sass/screen.scss */
  h2.banner, .node-news .banner.field-name-field-tagline,
  #widgets .block h2,
  #widgets .block .node-news .field-name-field-tagline,
  .node-news #widgets .block .field-name-field-tagline {
    font-size: 15px;
  }

  /* line 1043, ../sass/screen.scss */
  h2.banner.small, .node-news .banner.small.field-name-field-tagline {
    font-size: 14px;
  }

  /* line 1048, ../sass/screen.scss */
  .view-nodequeue-1 .views-field-body {
    font-size: 0.85em;
    line-height: 100%;
  }

  /* line 1058, ../sass/screen.scss */
  .nav-open #block-system-main-menu {
    display: block;
    clear: left;
    width: 100%;
    background: #1b1b1b url(../images/submenu-bg.png) repeat-x 0 -4px;
    margin-bottom: 16px;
  }
  /* line 1066, ../sass/screen.scss */
  .nav-open #block-system-main-menu ul {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    background: none;
  }
  /* line 1073, ../sass/screen.scss */
  .nav-open #block-system-main-menu ul li {
    clear: left;
    width: 100%;
    display: block;
  }
  /* line 1079, ../sass/screen.scss */
  .nav-open #block-system-main-menu ul li a {
    font-size: 12px;
    padding-left: 16px !important;
    display: block;
    background: url(../images/submenu-hover.png) repeat-x;
    color: white;
    border-top: 0;
    padding-top: 1px;
    border-bottom: 1px solid black;
    border-left: 1px solid #91191e;
    border-right: 1px solid #91191e;
    line-height: 27px;
  }
  /* line 1094, ../sass/screen.scss */
  .nav-open #block-system-main-menu ul li ul {
    display: block;
    position: static;
    border-radius: 0;
    margin-top: -1px;
    margin-bottom: 0;
  }
  /* line 1102, ../sass/screen.scss */
  .nav-open #block-system-main-menu ul li ul li {
    display: block;
    border-radius: 0;
  }
  /* line 1108, ../sass/screen.scss */
  .nav-open #block-system-main-menu ul li ul li a {
    border-radius: 0;
    border-top: 1px solid #494949;
    border-bottom: 1px solid black;
    border-left: 1px solid #414040;
    border-right: 1px solid #414040;
    background: none;
    padding-left: 32px !important;
  }
  /* line 1122, ../sass/screen.scss */
  .nav-open #block-system-main-menu ul li.expanded:hover:before {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  /* line 1134, ../sass/screen.scss */
  h1#page-title {
    font-size: 18px;
  }

  /* line 1139, ../sass/screen.scss */
  .view-nodequeue-1 .views-field-body {
    font-size: 0.8em;
  }
}
